body {
  background-color: rgb(193, 204, 214)}
    
     h1{
      font-family: sans-serif;
      color:#525151;
      background-color: rgb(255, 253, 253); 
      text-align: center;
      border-radius: 10px;
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 25px;
     }
 p{
  text-align: justify;
  font-family:sans-serif;
  font-size: 18px;
  color:white;
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  background-color: #7a7979;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
 
  h3{
    font-family: sans-serif;
    color: white;
    background-color: #525151;
    text-align: center;
    padding: 10px;
    border-radius:10px ;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 10px;
  }
 
  ul{
    list-style:circle;
  }
  ul li {
    font-family: sans-serif;
    color: white;
    background-color: #7a7979;
    margin-bottom: 15px;
    margin-right: 800px;
    margin-left: 270px;
    border-radius: 5px;
    padding: 5px;
  }
.meusAmores {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 5px;
}
.PraiaDoRosa{
  border-radius: 10px;
  width: 300px;
  height: 450px;
 
}

.Flyngatito{
  border-radius: 10px;
  width: 300px;
  height: 450px;
  
}

caption {
  font-family: sans-serif;
    color: white;
    background-color: #525151;
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 10px;
  }
  table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  text-align: center; 
  background-color: rgb(136, 156, 172);
  font-family: sans-serif;
  font-size: 20px;
  color: white;
  width: 800px;
}
th{
  font-family: sans-serif;
  color: rgb(44, 44, 44);
}
a {
  font-family: sans-serif;
  color: white;   
  background-color: #525151; 
  padding: 10px 20px;  
  border-radius: 10px; 
}

a:hover {
  color: rgb(9, 252, 70);           
  cursor: pointer;}

button {
font-family: sans-serif;
color: white;
border-radius: 10px;
margin-left: 300px;
}
#mensagem {
  margin-top: 15px;
  background: rgba(255, 255, 255, 0.8); 
  color: #525151;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 20px;
  display: none;
  width: fit-content;
  margin-left: 420px;
}